/* CSS page for GIPHY API project */

@font-face {
    font-family: "movies";
    src: url("../fonts/motion-picture.ttf");
}

@font-face {
    font-family: "ratings";
    src: url("../fonts/coneria.ttf");
}

* {
    font-family: "movies";
    box-sizing: border-box;
}

body {
    background: url("../images/moviereel.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page-title-top, #page-body, 
#input-section, #gif-content {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    text-align: center;
    margin: auto;
    padding: 0.75em;
}

#page-title-top {
    margin-top: 1em;
}

#title-sub {
    font-size: 200%;
}

#page-body {
    margin-top: 2em;
}

#button-array {
    width: fit-content;
}

#input-section {
    margin-top: 1em;
    text-align: center;
    overflow: hidden;
}

#gif-content {
    margin-top: 1em;
    height: fit-content;
    overflow: hidden;
}

#gif-field {
    background-color: rgba(255, 255, 255, 0.8);
}

#submit-text {
    font-size: 200%;
    margin-top: 0.5em;
}

.image-box {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.rating-text {
    font-family: "ratings";
    position: absolute;
    bottom: 0px;
    left: 9px;
    z-index: 99;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.1em;
    display: none;
}

.title-text {
    font-family: "movies";
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 99;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.1em;
    max-width: 110px;
    overflow: hidden;
    display: none;
    max-height: 196px;
}

button {
    margin: 0.1em;
    font-size: 200%;
    min-width: 4em;
}

h1 {
    font-size: 400%;
}

input {
    margin: 0.5em;
    height: 1.3em;
    width: 6em;
    margin-right: 1em;
    overflow: hidden;
    text-align: center;
    font-size: 200%;
}

img {
    border: 2px solid black;
    border-radius: 0.25em;
    margin: 0.25em;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

h2 {
    font-size: 400%;
    text-decoration: underline;
}




